
#content {

	font-family: 'Verdana';
  font-style: oblique;
  cursor:url('nyan_cat.png');



}
body {
	
  background: linear-gradient(to right, #bb9ae7,#b2ccf9,#f9b2e1);
}

.header {
  padding: 60px;

   animation: change 10s infinite;
}
@keyframes change{
  0%{background-color: #F9D7ED;}
  25%{background-color: #FBCDEB;}
  50%{background-color: #F9D7ED;}
  75%{background-color: #FBCDEB;}
  100%{background-color: #F9D7ED;}

  
}

.tablink {
  background-color: #f9b2e1;
  color: white;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #FF62B6;
}


.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;

}



/*div.bounce {
  width: 100px;
  padding: 20px;
  background: white;
  position: relative;
  animation: bounce 1s ease-in 2s 6 alternate none;
}
@keyframes bounce {
  from {
    top: 100px;
    left: 50px;
    }
  to {
    top: 150px;
    left: 150px;
  }
}*/
fly-in-text {
                list-style: none;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
            .fly-in-text li {
                display: inline-block;
                margin-right: 50px;
                font-family: Verdana;
                font-weight: 500;
                font-size: 5em;
                color: #fff;
                opacity: 1;
                transition: all 5s ease;
            }
            .fly-in-text li:last-child {
                margin-right: 0;
            }
            .fly-in-text.hidden li {
                opacity: 0;
            }
            .fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
            .fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
            .fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
            .fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
            .fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
            .fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

        .octo
        {
          position: absolute;
          top: 50%
          right: 50%;
          transform: translate(50%.50%);
          width: calc(600px / 4);
          height: 198px;
          background: url(pictures/prof.png);
          animation: animate 1s steps(4) infinite; 
        }
        @keyframes animate
        {
          from { background-position: 0; }
          to { background-position: -600px; }
        }

.box{
  background-color:white;

/*  height: 20%*/
  width: 40%;
  border:groove;
  box-sizing: border-box;
  padding: 20px 20px;
  font-family: Verdana;
  margin:0 auto;
  border-right-color: pink;
  border-left-color: pink;
  border-top-color: pink;
  border-bottom-color: pink;
}

  .box2{
  background-color:white;
  
/*  height: 20%*/
  width: 40%;
  border:groove; 
  box-sizing: border-box;
  padding: 5px 5px;
  font-family: Verdana;
  margin:0 auto;
  border-right-color: pink;
  border-left-color: pink;
  border-top-color: pink;
  border-bottom-color: pink;
}

/*a:link, a:visited {
  background-color: #FDA3C0;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #ED3F76;
}*/