

#length{

	height:3vh;


}

.highlight{

	background-color: green !important;

}
.btn-measure{
	height: 5vh;
	width: 5vh;
	background-color: green;
	color: white;
	text-align: center;
	font-size: 0.75vh
	font-weight: 800;


}
				
#steps{
	align-items: center;
}

#generate{

	background-color: #CE3049;
	color: white;

}
#top-area{
	/*width: 50%*/
	padding-left: 10%;
	padding-right: 10%;
}

#header{
	padding-top: 1.5%;
	padding-left:10%;
	padding-right:10%;
}

#shapes{

	/*position: absolute;*/
	z-index: 5;
/*	right: 5%;
	width: 5%;*/
	/*background:#000; */


}

.btn-large{

	font-size: 1.5vw;
	font-weight: 400;
	width: 20%;
}

.btn-large:hover{

	background-color: #d3d3d3;
}

#layers{

	position: absolute;
	z-index: 5;
	width: 5%;
	left: 5%;
}

.btn-tool{

	cursor: pointer;
	padding: 0.75rem 1rem;
	width:10vh; 
	height:10vh; 
	margin: 0.5rem; 
	border-radius: 0.5rem;
	background: none;
	background-color: none;
	border: 5px solid black;
    border-color: #d3d3d3;
	pointer-events: auto;
	    color: #888888;
	    text-align: center;
    font-size: 2vh;
    font-style: bold;

}

body{
		font-family: 'Nunito', sans-serif;
		font-weight:400;
}

h1 {
	color: 	#34C6F4;
	font-weight:800;
	font-style: bold;
	font-size: 5vh;
}

 button {
	cursor: pointer;
	padding: 0.75rem 1rem;
	width:7.5rem; 
	margin: 0.5rem; 
	border-radius: 1rem;
	background: none;
	background-color: none;
	pointer-events: auto;
}

button:focus {
	outline: none;
}

.modal-title{
	/*text-align: center;*/
}

.btn-group button {
  /*background-color: #4CAF50; /* Green background */*/
  /*border: 1px solid green; /* Green border */*/
  /*color: white;  White text */
  /*padding: 10px 24px;  Some padding */
  cursor: pointer;   
  width: 75px;  
  height: 75px ;
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  /*border-bottom: none;  Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #d3d3d3;
}


.btn-selected-outline {
  /*background-color: #029DAF;*/
  	width: 150px !important;
   border: 5px solid black;
    border-color: #029DAF;
    color: #029DAF;
    font-size: 2vh;
    font-style: bold;
}

.btn-selected-zones {
  /*background-color: #F8EE84;*/
  	width: 150px !important;
   border: 5px solid black;
    border-color: #F8EE84;
      color: #F8EE84;
    font-size: 2vh;
    font-style: bold;
}

.btn-selected-service {
  /*background-color: #888888;*/
  	width: 150px !important;
   border: 5px solid black;
    border-color: #888888;
      color: #888888;
    font-size: 2vh;
    font-style: bold;
}

.btn-selected-furniture {
  /*background-color: #CE3049;/*/
  	width: 150px !important;
    border: 5px solid black;
  border-color: #CE3049;
    color: #CE3049;
    font-size: 2vh;
    font-style: bold;
  /*outline-width: 3px;*/
}

/*var colorScheme = {

    'outline': '#029DAF',
    'zones': '#F8EE84',
    'service': '#888888',
    'furniture': '#E5D599'
}*/
/*#buttons {
	position: absolute;
	bottom: 10vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

#buttons button {
	cursor: pointer;
	padding: 0.75rem 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
}*/


.vertBtn {
	width: 150px !important;
	   /*border: 5px solid black;*/
}

.completed {
	background-color: #7cd918;
}